@model Movie
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/img/@Model.ImagePath" style="width:100%;" class="img-fluid rounded-start" alt="/img/@Model.Title">
        </div>
        <div class="col-md-9">
            <div class="card-body py-0">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
           
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>