@model MovieViewModel

<h1>Film Listesi</h1>

@section menu{
    @*@await Html.PartialAsync("_menu",Model.Genres)*@
    @await Component.InvokeAsync("Genre")
}

<div id="movies">
    @if (Model.Movies.Count > 0)
    {
        foreach (var movie in Model.Movies)
        {
            @await Html.PartialAsync("_movie",movie)
        }
    }
    else
    {
        <div class="alert alert-warning" role="alert">
          Bu türde bir film bulunamadı
        </div>
    }


</div>